<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894748319379-hbhk32r942rf8e49kqsls1id0nm1s0sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894748319379-hbhk32r942rf8e49kqsls1id0nm1s0sh</string>
	<key>API_KEY</key>
	<string>AIzaSyCrHXczbINVcvOkhx75j0Jb4sOkuUAxQtU</string>
	<key>GCM_SENDER_ID</key>
	<string>894748319379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>nikkuk-fb-auth-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>nikkuk-fb-auth-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894748319379:ios:2cb8106d7b5671deddb766</string>
</dict>
</plist>